body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #999999;
}

div {
  /* background-color: #e8ffff; */
}

h1 {
  font-size: 562.5%;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #41aea9;
  }

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: #41aea9;
  padding-bottom: 10px;
}

h3 {
font-family: 'Montserrat', sans-serif;
color: #41aea9;
}

p {
  line-height: 2;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}

a {
  color: #213e3b;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #e8ffff;
}

.aprogrammer {
  font-weight: normal;
}

.top-container {
background-color: #e8ffff;
padding-top: 100px;
position: relative;
}

.pro {
  text-decoration: underline;
}

.middle-container {
  /* margin: 100px 0; */
  background-color: #e8ffff;
}

.bottom-container {
  background-color: #41aea9;
  padding: 50px 0 20px;
  margin-top: 100px;
}

.intro {
  width: 30%
  margin: auto;
}

.top-cloud {
position: absolute;
right: 300px;
top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile_img {
  height: 100px;
  width: 100px;
  margin-top: 100px;

}

.dice {
height: 20px;
width: 20px;
margin-left: 10px;
}

.customer {
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 30px;
}

.coding {
  height: 100px;
  width: 100px;
  float: right;
  margin-left: 30px;
}

.handshake {
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 30px;
}

.books {
  height: 100px;
  width: 100px;
  float: right;
  margin-left: 30px;
}



.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skills_table {
  margin-left: auto;
  margin-right: auto;
}


.stars {
  color: #213e3b;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #e8ffff;
  font-size: .75em;
  padding: 20px 0;
}

.btn {
  background: #41aea9;
  background-image: -webkit-linear-gradient(top, #41aea9, #213e3b);
  background-image: -moz-linear-gradient(top, #41aea9, #213e3b);
  background-image: -ms-linear-gradient(top, #41aea9, #213e3b);
  background-image: -o-linear-gradient(top, #41aea9, #213e3b);
  background-image: linear-gradient(to bottom, #41aea9, #213e3b);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #a6f6f1;
  background-image: -webkit-linear-gradient(top, #a6f6f1, #41aea9);
  background-image: -moz-linear-gradient(top, #a6f6f1, #41aea9);
  background-image: -ms-linear-gradient(top, #a6f6f1, #41aea9);
  background-image: -o-linear-gradient(top, #a6f6f1, #41aea9);
  background-image: linear-gradient(to bottom, #a6f6f1, #41aea9);
  text-decoration: none;
}
